.layoutWrapper {
  position: relative;
  display: flex;
  align-content: space-between;
  height: 100vh;
  width: 100%;
}

.sideRoot {
  position: relative;
  width: 400px;
  height: 100%;
  background-color: aquamarine;
}

.content {
  width: calc(100% - 400px);
  height: 100%;
  background-color: beige;
}
